@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #606060;
$secondary_color: #00adef;
$background: #00adef;
$border: #606060;

$max_width: 1000px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* Top */

.top {
	background-color: $secondary_color;
	.moduletable_to1 {
		padding: 5px 10px;
		/*background-color: #fff;*/
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 60px 0;
	h1 {
		width: fit-content;
		margin: auto;
		margin-bottom: 30px;
		border-bottom: 1px solid $border;
		font-size: 48px;
	}
	h4 {
		&.big {}
	}
	a {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	input {
		border-radius: 0;
	}
	textarea {
		border-radius: 0;
	}
	.button {
		background-color: $secondary_color;
		border-radius: 0;
	}
	.asterisk {
		color: red;
	}
	iframe {
		border: 0;
	}
	.moduletable_le1 {
		.bellows {
			margin: 0;
			background-color: transparent !important;
			box-shadow: none;
			ul {
				border-right: 1px solid $border;
				li {
					&.bellows-current-menu-item {
						a {
							background-color: transparent !important;
							color: $secondary_color !important;
						}
					}
					&.bellows-menu-item-has-children.bellows-active {
						a {
							&.bellows-target {
								background-color: transparent !important;
								color: $secondary_color !important;
							}
						}
					}
					a {
						margin: 0;
						padding: 10px;
						border: 0 !important;
						font-size: 14px;
						color: $primary_color !important;
						&:hover {
							background-color: transparent !important;
							color: $secondary_color !important;
						}
						span.bellows-subtoggle {
							width: 50px;
							background: transparent !important;
						}
					}
					ul {
						border: 0;
						li {
							a {
								font-size: 14px;
								text-transform: initial;
							}
						}
					}
				}
			}
		}
	}
	.woocommerce {
		ul.products {
			li {
				margin-bottom: 15px;
				a {
					color: $primary_color;
					&:hover {
						color: $primary_color;
					}
					img {
						margin: 0;
						padding: 10px;
						border: 1px solid $border;
					}
					h2 {
						padding: 15px !important;
						text: {
							align: center;
							transform: uppercase;
						}
					}
				}
			}
		}
		.product {}
		a,
		button {
			&.button {
				background-color: $secondary_color;
				border-radius: 0;
				color: #fff;
				&:hover {
					background-color: $secondary_color;
					color: #fff;
				}
			}
		}
	}
	&.full-width {
		padding: 0 0 60px 0;
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 80px 0;
	background: {
		image: url(block_1_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_b11 {
		color: #fff;
		h3 {
			width: fit-content;
			margin: auto;
			margin-bottom: 10px;
			border-bottom: 1px solid #fff;
			font-size: 48px;
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 60px 0;
	.moduletable_b21 {
		h3 {
			font-size: 28px;
		}
		a {
			&.button {
				background-color: $secondary_color;
				border-radius: 0;
			}
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 60px 0;
	background: {
		image: url(block_3_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_b31 {
		h3 {
			width: fit-content;
			margin: auto;
			margin-bottom: 20px;
			border-bottom: 1px solid #fff;
			font-size: 48px;
			color: #fff;
		}
		.owl-item {
			figure {
				figcaption {
					background-color: $secondary_color;
					h3 {
						&.pro_title {
							width: inherit;
							margin: 5px;
							background-color: $secondary_color;
							border: 0;
						}
					}
				}
			}
		}
	}
}

/* Block 4 */

.block_4 {
	padding: 60px 0;
	.moduletable_b41 {
		h3 {
			width: fit-content;
			margin: auto;
			border-bottom: 1px solid $border;
			font-size: 48px;
		}
		input,
		textarea {
			margin: 0;
			border-radius: 0;
		}
		.button {
			background-color: $secondary_color;
			color: #fff;
		}
		iframe {
			border: 0;
		}
	}
}

/* Block 5 */

.block_5 {
	padding: 60px 0;
	background: {
		image: url(block_5_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_b51 {
		color: #fff;
		h3 {
			font-size: 26px;
		}
		a {
			color: #fff;
		}
		ul {
			li {
				list-style: none;
				&:before {
					margin-right: 10px;
					top: 0em;
					content: '\25a0';
					font-size: 1em;
					position: relative;
				}
			}
		}
	}
}

/* Block 6 */

.block_6 {
	padding: 30px 0;
	.moduletable_b61 {
		h3 {
			width: fit-content;
			margin: auto;
			margin-bottom: 30px;
			border-bottom: 1px solid $border;
			font-size: 48px;
		}
		a {
			margin: 0 20px;
			display: inline-block;
		}
	}
}

/* Copyright */

.copyright {
	padding: 10px 0;
	background-color: $secondary_color;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}